[submodule "Formats"]
	path = Formats
	url = https://github.com/horsicq/Formats.git
[submodule "StaticScan"]
	path = StaticScan
	url = https://github.com/horsicq/StaticScan.git
[submodule "xvdg_plugins"]
	path = xvdg_plugins
	url = https://github.com/horsicq/xvdg_plugins.git
[submodule "XArchive"]
	path = XArchive
	url = https://github.com/horsicq/XArchive.git
[submodule "FormatWidgets"]
	path = FormatWidgets
	url = https://github.com/horsicq/FormatWidgets.git
[submodule "FormatDialogs"]
	path = FormatDialogs
	url = https://github.com/horsicq/FormatDialogs.git
